.grid {
    width: 1160px;
    height: 980px !important;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 370px;
    height: 120px;
    float: left;
}

.grid-hover-effect {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    opacity: 0;
}

.grid-item-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.grid-item-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 30%;
    height: 30%;


    font-size: 20px;
    color: #fff;

    border: none;
    border-radius: 5px;
    background-color: #14b9d5;
}

.grid-item:hover .grid-hover-effect {
    opacity: 1;
}
/* column 1 */

.col-1-top {
    top: 0 !important;
    left: 0 !important;
}
.col-1-mid {
    top: 280px !important;
    left: 0 !important;
}
.col-1-bottom {
    top: 565px !important;
    left: 0 !important;
}

/* column 2 */
.col-2-top {
    top: 0 !important;
    left: 395px !important;
}
.col-2-mid {
    top: 400px !important;
    left: 395px !important;
}
.col-2-bottom {
    top: 685px !important;
    left: 395px !important;
}


/* column 3 */

.col-3-top-1 {
    top: 0 !important;
    left: 785px !important;
}
.col-3-top-2 {
    top: 0 !important;
    left: 975px !important;
}

.col-3-bottom {
    top: 495px !important;
    left: 785px !important;
}


/* small images in column 3 */
.col-1-small-top {
    top: 190px !important;
    left: 785px !important;
}
.col-1-small-mid {
    top: 285px !important;
    left: 785px !important;
}
.col-1-small-bottom {
    top: 380px !important;
    left: 785px !important;
}


.col-2-small-top {
    top: 190px !important;
    left: 910px !important;
}
.col-2-small-mid {
    top: 285px !important;
    left: 910px !important;
}
.col-2-small-bottom {
    top: 380px !important;
    left: 910px !important;
}


.col-3-small-top {
    top: 190px !important;
    left: 1035px !important;
}
.col-3-small-mid {
    top: 285px !important;
    left: 1035px !important;
}
.col-3-small-bottom {
    top: 380px !important;
    left: 1035px !important;
}



.grid-item--width1 { width: 120px; }
.grid-item--width2 { width: 180px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height1  { height: 90px; }
.grid-item--height2 { height: 180px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 380px; }