body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.green-text {
    color: #18cfab;
}

.container {
    min-width: 1160px;
}
.wrapper {
    margin: 0 auto;
    width: 1160px;
}

.home {
    background: url("../img/background-img/Layer_1.png") no-repeat fixed;
    background-size: cover;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    font-weight: 700;
}
.header-background {
    background-color: rgba(73, 71, 63, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: #fff;
    text-decoration: none;
}

.chevron {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 60px;
    height: 65px;
    background-color: #18cfab;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.chevron-letter {
    font-size: 40px;
}

.word-the {
    margin-left: 10px;
    font-weight: 400;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 670px;
    color: #b8b8b8;

}
.home-nav {
    display: flex;
    justify-content: space-between;

    width: 630px;
    list-style: none;
}

.home-nav-item-link {
    padding: 52px 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #b8b8b8;
}

.home-nav-item-link:hover {
    color: #18cfab;
    box-shadow: 0 2px 0 0 #18cfab;
}

.home-nav-search {
    padding: 50px 0;
    font-size: 20px;
}
.home-nav-search:hover {
    color: #18cfab;
    box-shadow: 0 2px 0 0 #18cfab;
}


.home-content {
    text-align: center;
    padding: 200px 0;
}

.content-text {
    line-height: 85px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.home-first-line {
    font-size: 35px;
}
.home-second-line {
    font-size: 79px;
}
.home-third-line {
    text-transform: none;
    font-weight: 300;
    font-size: 34px;
    color: #d4d4d4;
}

.home-buttons {
    margin-top: 150px;
}

.btn {
    width: 165px;
    height: 60px;
    border: none;
    box-shadow: 0 4px #fff inset;
    border-radius: 5px;

    margin: 15px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.home-btn-explore {
    background-color: #18cfab;
}
.home-btn-purchase {
    background-color: #00cbf6;
}

.home-options {
    display: flex;
}

.home-options-item {
    flex-basis: 290px;
    flex-grow: 1;

    box-shadow: 0 8px #18cfab inset;
    background-color: #1c2a33;
}

.home-options-item:nth-child(2n) {
    background-color: #18cfab;
    box-shadow: 0 8px #fff inset;
}

.home-options-item:nth-child(2n) img {
    padding-top: 10px;
}

.options-items-container {
    padding: 100px 0;
    text-align: center;
}
.option-image-container {
    height: 100px;
}

.home-options-title {
    margin-top: 50px;
    color: #18cfab;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.home-options-item:nth-child(2n) .home-options-title {
    color: #fff;
}


.our-services-container {
    padding: 80px 0 110px;
}

.our-common-title {
    position: relative;
    text-align: center;
    color: #4e4e4e;
    font-size: 36px;
}

.common-separator {
    margin-top: 35px;
}

.common-separator-line {
    margin: 0 auto;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}

.common-separator-line-1 {
    transform: translateX(-10px);
}
.common-separator-line-2 {
    margin-top: 0.2em;
    transform: translateX(10px);
}

.our-services-list {
    display: flex;
    height: 75px;
    margin-top: 85px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: ridge;
    border-width: 1px 1px 1px 0;
}

.our-services-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    cursor: pointer;
    width: 193px;
    font-size: 16px;
    background-color: #f8fcfe;
    border-left: 1px ridge rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 0 0 #18cfab;
    transition: 0.5s linear;
}

.our-services-list-item.active {
    box-shadow: inset 0 -100px 0 0 #18cfab;
}

.active {
    position: relative;
    color: #fff;
}
.active:after {
    content: '';
    position: absolute;
    display: inline-block;

    border: 12px solid transparent;
    bottom: -23px;
    border-top: 12px solid #18cfab;
}

.our-services-content {
    display: flex;
    justify-content: space-between;
    height: 140px;
    margin-top: 25px;
}

.our-services-content-image {
    width: 193px;
    height: 100%;
}

.our-services-content-description {
    width: 930px;
    line-height: 24px;
    font-size: 14px;
    text-align: justify;
}

.our-services-purchase {
   padding: 70px 0;
    text-align: center;
}
.our-services-purchase-bg {
    background:linear-gradient(to right, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%),
    url("../img/background-img/section-2.jpg") no-repeat fixed;
    background-size: cover;
}

.our-services-fist-line {
    color: #18cfab;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.our-services-second-line {
    padding: 35px 0 80px;
    font-size: 16px;
    color: #d8d8d8;
}

.our-services-btn-purchase {
    margin: 0;
    background-color: #18cfab;
}

.our-amazing-work {
    padding: 50px 0;
    text-align: center;
    background-color: #f8fcfe;
}

.amazing-work-gallery-navigation {
    display: flex;
    margin: 70px auto;
    width: 610px;
    background-color: #fff;
    border-color: #ebebeb;
    border-style: solid;
    border-width: 0.5px 0.5px 0.5px 0;
}

.amazing-work-gallery-navigation-item {
    flex-grow: 1;

    cursor: pointer;
    border-left: 0.5px solid #ebebeb;
    padding: 25px 0;
    font-size: 14px;
    color: #565656;
}

.active-item-work {
    position: relative;
    color: #18cfab;
    transition: 1s;
}

.active-item-work:before {
    content: '';
    position: absolute;
    display: inline-block;
    left: -1px;
    top: -4px;
    width: 100%;
    border: 1.5px solid #18cfab;
}

.amazing-work-gallery {
    margin: 0 auto;
    display: grid;
    min-height: 630px;
    width: 1140px;

    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
}

.gallery-image-container {
    position: relative;
    width: 285px;
}
.gallery-image-container:hover .gallery-image-size {
    opacity: 0;
}
.gallery-image-container:hover .gallery-image-btn-container {
    opacity: 1;
}

.gallery-image-btn-container {
    position: absolute;
    text-align: center;
    top: 35px;
    left: 70px;
    opacity: 0;
    transition: 0.5s;
}

.gallery-image-btn {
    display: inline-block;
    margin: 5px;

    width: 45px;
    height: 45px;

    border: 1px solid #18cfab;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #18cfab;
    transition: 0.5s;
}
.gallery-image-btn:active, .gallery-image-btn:focus {
    outline: none;
}
.gallery-image-btn:hover {
    box-shadow: inset 0 50px 0 0 #18cfab;
}
.gallery-image-btn:hover .gallery-image-icons-prop{
    color: #fff;
}

.gallery-image-icons-prop {
    padding: 15px;
    color: #18cfab;
    transition: 0.5s;
}

.gallery-image-title {
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #18cfab;
    text-transform: uppercase;
}

.gallery-image-subtitle {
    margin-top: 10px;
    font-size: 12px;
    color: #8a8a8a;
}

.gallery-image-size {
    width: 100%;
    transition: 0.5s;
}

.btn-load-images {
    margin-top: 50px;
    width: 200px;
    height: 70px;

    cursor: pointer;
    color: #18cfab;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: inset 0 0 0 0 #18cfab;
    border: 1px solid #18cfab;
    border-radius: 10px;
    transition: 1s;
}

.btn-load-images:hover {
    color: #fff;
    box-shadow: inset 0 100px 0 0 #18cfab;
}

.breaking-news-container {
    padding: 80px 0;
}


.breaking-news-posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    width: 1160px;
}

.breaking-news-post {
    margin-bottom: 40px;
}

.breaking-news-link {
    text-decoration: none;
}

.breaking-news-image-wrap {
    position: relative;
    width: 260px;
    height: 210px;
}

.breaking-news-image {
    width: 100%;
    height: 100%;
}


.breaking-news-post-data {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;

    box-shadow: inset 0 0 0 0;
    background-color: #203e38;
}

.breaking-news-data-props {
    font-size: 16px;
    color: #fff;
}

.breaking-news-post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f8fcfe;
}

.breaking-news-post-title {
    font-size: 18px;
    font-weight: bold;
    color: #717171;
}

.breaking-news-post-info {
    display: flex;
    justify-content: space-between;

    color: #777777;
    font-size: 14px;
    font-weight: 300;
    width: 180px;
}

.breaking-info-separator {
    height: 15px;
    border-right: 1px ridge #777777;
}

.breaking-news-post:hover .breaking-news-post-data {
    background-color: #18cfab;
}
.breaking-news-post:hover .breaking-news-post-title {
    color: #18cfab;
}


.people-feedback {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
    url("../img/background-img/section-3.jpg") no-repeat fixed;
    background-size: cover;
}

.people-feedback-container {
    padding: 100px 0;
}

.common-people-feedback-title {
    color: #fff;
}

.people-feedback-quot {
    margin: 70px auto 0;
    width: 44px;
    height: 30px;
    background: url("../img/people-feedback/Forma_1.png");
}

.feedback-all-messages {
    margin-top: 40px;
    min-height: 60px;
}
.feedback-user-message {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.people-feedback-slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 420px;
}

.feedback-user-details {
    text-align: center;
    min-height: 235px;
}

.feedback-user-name {
    font-size: 16px;
    font-weight: bold;
    color: #18cfab;
    text-transform: uppercase;
}

.feedback-user-position {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 300;
    color: #bbbbbb;
}

.feedback-user-image-container {
    width: 145px;
    height: 145px;
    border: 3px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(24, 207, 171, 0.3);
    margin-top: 40px;
}

.feedback-user-img {
    width: 100%;
    height: 100%;
}

.feedback-swipe-all-users {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0;
}

.slider-controller-container {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.slider-controller-container:hover {
    background-color: #18cfab;
}
.slider-controller-container:hover .slider-controller {
    color: #fff;
}

.slider-controller {
    align-self: center;
    font-size: 15px;
    color: #bbbbbb;
}
/*.controller-prev {*/

/*}*/
/*.controller-next {*/
/*    */
/*}*/

.feedback-users-list {
    display: flex;
    justify-content: space-around;
    width: 400px;
}


.feedback-user-small-image-container {
    z-index: 1;
    width: 60px;
    height: 60px;
    cursor: pointer;
    
    border: 2px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(24, 207, 171, 0.3);
    transition: 0.5s;
}

.active-user {
    display: block;
    border: 2px solid #18cfab;
    transform: translateY(-10px);
}

.feedback-user-small-img {
    width: 100%;
    height: 100%;
}


.best-gallery {
    padding: 100px 0;
    text-align: center;
}

.additional-margin {
    margin-bottom: 75px;
}

.best-gallery-image-container {
    position: relative;
    height: 100%;
}
.best-gallery-image {
    width: 100%;
    height: 100%;
}

.footer {
    margin-bottom: 10px;
    text-align: center;
    background-color: #22353f;
}

.copyright {
    padding: 55px 0;
    color: #aeaeae;
    font-weight: 300;
    font-size: 14px;
}

.copyright-green {
    color: #18cfab;
}
